/**
 * Results Component Styles
 *
 * This barrel file imports all section CSS files in cascade order.
 */

@import './Results-header.css';
@import './Results-categories.css';
@import './Results-responsive.css';
