/**
 * LIFE SCORE - Settings Modal Styles
 *
 * This barrel file imports all section CSS files in cascade order.
 */

@import './SettingsModal-layout.css';
@import './SettingsModal-forms.css';
@import './SettingsModal-responsive.css';
