/**
 * Weight Presets Styles
 *
 * This barrel file imports all section CSS files in cascade order.
 */

@import './WeightPresets-base.css';
@import './WeightPresets-law.css';
@import './WeightPresets-exclusion.css';
